
{cover_enabled, true}.


{erl_opts, [
	debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

{erl_first_files, ["src/nklib_parse_trans_vsn"]}.


% {edoc_opts, [{dir, "../../doc"}]}.

{deps, [
	{lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}},
	{jsone, {git, "https://github.com/sile/jsone", {tag, "1.5.0"}}},
    	{yamerl, {git, "https://github.com/yakaz/yamerl", {ref, "4e5a54a5a4a0cd9dc8ee30c8356642e9a2c3a443"}}},
	{eper, {git, "https://github.com/massemanet/eper", {tag, "0.99.1"}}},
	{recon, {git, "https://github.com/ferd/recon", {tag, "2.5.0"}}},
	{meck, {git, "https://github.com/eproxus/meck", {tag, "0.8.13"}}},
	{mimerl, {git, "https://github.com/benoitc/mimerl", {tag, "1.2.0"}}},
	{parsexml, {git, "https://github.com/maxlapshin/parsexml", {ref, "6910cae5bd25fe00edf7dec4ee44e1e2bc08b505"}}},
	enotify,
	{rfc3339,  {git, "git://github.com/talentdeficit/rfc3339.git", {branch, master}}},
	{parse_trans, {git, "https://github.com/uwiger/parse_trans", {tag, "3.3.0"}}},
	{ssl_verify_fun,  {git, "https://github.com/deadtrickster/ssl_verify_fun.erl", {tag, "1.1.5"}}}
	%rfc3339
    %% Candidates
    %% edown
    %% https://github.com/project-fifo/qdate
]}.

{overrides,
    [
        {override, eper, [{erl_opts, [debug_info]}]},
        {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
    ]}.


{plugins, [pc]}.
% {plugins, [{rebar3_auto, {git, "https://github.com/vans163/rebar3_auto.git", {branch, "master"}}}]}.

{pre_hooks, [{compile, "make version_header"}]}.


%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

